<!DOCTYPE html>
<html>
<head>
  <title>Estatísticas</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
  <%- include('partials/navbar') %>
  <div class="container statistics-container">
    <h1>Estatísticas</h1>
    <div class="stat">
      <h2>Total de Minutos</h2>
      <p id="totalMinutes" class="count" data-count="<%= statistics.totalMinutes %>">0</p>
    </div>
    <div class="stat">
      <h2>Total de Anexos</h2>
      <p id="totalAttachments" class="count" data-count="<%= statistics.totalAttachments %>">0</p>
    </div>
    <% if (isAdmin) { %>
      <form action="/statistics/user" method="POST" id="userSelectForm" class="mt-4">
        <div class="form-group">
          <label for="selectedUser">Selecione o Utilizador:</label>
          <select class="form-control" id="selectedUser" name="selectedUser" onchange="document.getElementById('userSelectForm').submit()">
            <option value="" disabled <%= !selectedUser ? 'selected' : '' %>>Selecione um utilizador</option>
            <% users.forEach(user => { %>
              <option value="<%= user %>" <%= (selectedUser === user) ? 'selected' : '' %>><%= user %></option>
            <% }) %>
          </select>
        </div>
      </form>
    <% } %>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/js/script.js"></script>
</body>
</html>